APP_PROJECT_NAME=FastAPI Service
APP_API_V1_PREFIX=/api/v1
APP_DEBUG=False

APP_POSTGRES_SERVER=localhost
APP_POSTGRES_PORT=5432
APP_POSTGRES_USER=postgres
APP_POSTGRES_PASSWORD=postgres
APP_POSTGRES_DB=app
